<!--Lines list and menu-->
<div id="sidebar">
  <ul>
    <% @lines.each do |line| %>
    <li class="line" id="<%= line.name %>"><%= line.name %></li>
    <% end %>
  <ul>
</div>

<script type="text/javascript" id="sidebar">
  $("#<%= line.name %>").click(function() {
    // AJAX REQUEST to GET specific JSON
    // When AJAX request is complete,
    // Render data
  });
</script>