/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html, body {
  height: 100%;
}

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push {
  height: 60px;
}

body {
  background-color: #FDF6E3;
}

hr {
  border: 0;
  border-bottom: 1px dashed #fff;
  height: 2px;
}

/** sidebar **/

#sidebar {
  font-family: 'Open Sans', sans-serif;
  border-right: 1px #fff solid;
  height: 400px;
}

#sidebar .circle {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: -2px ;
  border-radius: 50%;
}

#sidebar ul {
  margin-left: -35px;
  margin-right: -10px;
  list-style-type: none;
  line-height: 45px;
}

#sidebar li {
  color: #333;
  font-size: 20px;
}

#sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.82);
  cursor: pointer;
}

#sidebar span {
  display: inline-block;
  height: 12px;
  width: 12px
}

/** chart **/

#chart {
  padding-left: 50px;
  font-family: 'Open Sans', sans-serif;
}

/** type **/

p {
  font-family: 'Gentium Book Basic', serif;
  color: #333;
  line-height: 25px;
}

p.byline {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #333;
}

p.intro {
  line-height: 30px;
}

a {
  color: #C19A6B;
  text-decoration: none;
  border-bottom: 0px solid #d3d3d3;
  transition: all 0.25s ease-in-out 0s;
}

a:hover {
  border-bottom: 1px solid #d3d3d3;
  transition: all 0.25s ease-in-out 0s;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font: 700 'Open Sans';
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.colophon ul li{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
footer {
  font-family: 'Open Sans', serif;
}



