<header>
  <h1><a href="/">In a station of the Metro</a></h1>
  <p class="byline">A THOUGHT & CODE EXPERIMENT BY <a href="http://twitter.com/machikoyasuda/" id="Machiko Yasuda" target="_blank">Machiko Yasuda</a></p>
  <p class="intro">Los Angeles, <%= Time.now.strftime("%Y-%m-%d") %> — Accusamus pariatur irony nisi. Ex messenger bag 8-bit synth Austin dolore, cray delectus sapiente forage ugh wolf shoreditch. Lo-fi fugiat butcher swag, do put a bird on it fashion axe disrupt dolore art party vegan Carles. Synth velit leggings officia tote bag. Culpa McSweeney's Etsy, helvetica flannel non PBR Schlitz quinoa sriracha enim eu Godard lo-fi whatever.</p>
</header>