<header>
  <h1><a href="/">In a station of the Metro</a></h1>
  <p class="byline">A THOUGHT & CODE EXPERIMENT BY <a href="http://twitter.com/machikoyasuda/" id="Machiko Yasuda" target="_blank">Machiko Yasuda</a></p>
  <p class="intro">Los Angeles, Aug. 21, 2013 — Starting with the opening of the Blue Line in 1990, Los Angeles now has eighty rail stations on six lines. On an average weekday, over 300,000 people board the light rail and subway stations from Long Beach, Pasadena, North Hollywood, Culver City, Boyle Heights to downtown Los Angeles. Inspired by similar maps of the <a href="http://dangrover.github.io/sf-transit-inequality/#">Bay Area</a> and <a href="http://newyorker.com/sandbox/business/subway.html">New York City</a>, I wanted to explore southern California's growing subway system and surrounding demographics.</p>
</header>